.tp-product-share-dialog {
    .copy-btn {
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem;
        padding: 0px;
    }
    .s_share {
        a {
            margin-right: .6rem;
        }
        .fa.rounded-circle {
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.5rem;
        }
    }
}
